
.bg0 { background: url(images/grid.png) repeat, url(images/botanic-flower.jpg) no-repeat; background-size: 3px 3px, cover;}
.bg1 { background: url(images/grid.png) repeat, url(images/weeping-ash.jpg) no-repeat; background-size: 3px 3px, cover;}
.bg2 { background: url(images/grid.png) repeat, url(images/botanic-flower-2.jpg) no-repeat; background-size: 3px 3px, cover;}
.bg3 { background: url(images/grid.png) repeat, url(images/kibble-dome.jpg) no-repeat; background-size: 3px 3px, cover;}
.bgash { background: url(images/grid.png) repeat, url(images/weeping-ash.jpg) no-repeat; background-size: 3px 3px, cover;}

div.today {
    height: 240px;
    overflow: hidden;
    position: relative;
}

.today-info {
    position: absolute;
    margin: 0 !important;
    padding: 10px 52px 10px 10px !important;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.6;
    color: white;
}

.today-map {
    position: absolute;
    margin: 10px !important;
    opacity: 0.6;
    top: 0;
    right: 0;
}

.species-info {
    text-align: center;
    color: gray;
}
